@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TrackerIssues</h1>
    <p>We are happy that you want to use our website :]</p>
</div>
